<h1>Cadastro de Bebidas</h1>
<% if @beverage.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @beverage.errors.full_messages.each do |msg|%>
     <li>
        <%= msg %>
     </li>
     <% end %>
  </ul>
<% end %>
<%= render 'form' %>